html, body {
    height: 100%;
    margin: 0;
}
body{
    background-image: url("mer.jpeg");
    background-repeat:no-repeat;
    background-position: center;
    background-size: cover;
    font-family: fantasy;
    font-size:20px;
}
* {
    box-sizing: border-box;
}

h1{
    color: #295c79;
    text-align: center;
    background: #f2f1de;
    width: 450px;
    margin: 20px auto;
    padding:10px;
    border-radius:50px;
    opacity:0.7;
}
h2{
    color:  black;
    text-align: center;
    background: #50dfdf;
    width: 850px;
    margin: 15px auto;
    padding:10px;
    border-radius:50px;
    opacity:0.7; 
}

#plateau{
    margin:50px auto;
    color:#295c79;
}

#interaction{
    display:flex;
    justify-content:center;
}

.caseBataille{
    width:75px;
    height:75px;
    text-align: center;
    background-color: #02fdfd;
    cursor:pointer;
    font-size:20px;
    opacity: 0.7
    }

.caseCommande{
    width:75px;
    height:75px;
    text-align: center;
    background:#f2f1de;
    opacity: 0.7;
}

#choixColonne, #choixLigne, #jouer{
    width:350px;
    height:50px;
    background-color: #02fdfd;
    color: #143242;
    border-radius:50px;
    margin:30px 20px;
    border:none;
    text-align:center;
    opacity: 0.6;
    font-size: large;
    font-weight: bolder;
}

#message{
   opacity: 0.8; 
}
